@import config

body
    background-color: #1c1c1c
    font-weight: 300

a 
    text-decoration: none

.preserve
    transform-style: preserve-3d

.text-right
    text-align: right

.text-center
    text-align: center

.top-line
    position: absolute
    width: 100%
    padding: 60px 0
    z-index: 100

    .container-fluid
        max-width: 1680px
    .btn
        +media-breakpoint-up(sm)
            margin-right: 50px
        +media-breakpoint-down(md)
            margin-right: 10px
            position: relative
            right: 5px
    +media-breakpoint-down(md)
        position: relative
        padding: 30px 0

    
.logo
    font-size: 26px
    color: white
    font-weight: bold
    padding: 10px
    white-space: nowrap

    span
        font-weight: 300
        transition: color 1s ease
    &:hover
        span
            color: $accent
    +media-breakpoint-up(md)
            margin-left: 40px

.btn
    background-color: $accent
    color: white
    display: inline-block
    padding: 10px 28px
    border-radius: 10em
    font-size: 16px
    font-weight: bold
    transition: background-color .25s ease
    letter-spacing: .03cm
    &:hover
        background-color: darken($accent, 10)

.card-header
    perspective: 1000px
    height: 100vh
    min-height: 700px
    overflow: hidden
    position: relative
    +media-breakpoint-down(sm)
        overflow: visible
    &::before
        content: ''
        position: absolute
        top: 0
        left: 0
        height: 100%
        width: 100%
        z-index: -1
        background-image: url(../images/src/russia.svg)
        background-position: center
        background-repeat: no-repeat
        opacity: .02
        transform: scale(1.35)
        @media (max-width: 1366px)
            transform: scale(1)
        +media-breakpoint-down(sm)
            display: none

.content
    height: 100%
    padding: 160px 0
    display: flex
    justify-content: center
    align-items: center
    +media-breakpoint-down(lg)
        transform-style: flat
        transform: rotate(0)!important

    h1
        font-size: 32px
        line-height: 43px
        font-weight: bold
        margin-bottom: 38px
        strong
            color: $accent
            white-space: nowrap
            span
                font-weight: 300
                color: white
    h1, p, a
        padding-left: 20px

.trylink
    color: $accent
    margin-top: 20px
    font-weight: bold
    font-size: 16px
    display: inline-block
    +media-breakpoint-down(md)
        margin-top: 10px
        margin-bottom: 40px

    &:hover
        color: $accent
        text-decoration: solid underline purple 2px
    
    i
        display: inline-block
        font-style: normal
        font-weight: 300
        font-size: 24px
        color: white
        width: 36px
        height: 36px
        background-color: $accent
        border-radius: 100%
        line-height: 32px
        text-align: center
        margin-right: 10px

.card
    position: relative
    width: 458px
    height: 288px
    display: inline-block
    zoom: .9

    > img 
        position: absolute
        +media-breakpoint-down(md)
            display: none
    +media-breakpoint-down(md)
        background-image: url(../images/src/card.png)
        background-size: cover
        width: 100%
        padding-top: 64.3%
        height: auto
    &-logo_w
        z-index: 12
        top: 45px
        right: 45px
    &-chip
        z-index: 12
        top: 70px
        left: 45px
    &-number-holder
        z-index: 12
        left: 45px
        top: 158px
    &-valid
        z-index: 12
        top: 194px
        right: 211px
    &-russia
        z-index: 11
        top: 20px
        left: 22px
        width: 420px
        opacity: .07

.l_main, .l2_main, .l3_main
    left: 0

.l_main
    z-index: 10
.l2_main
    z-index: 8
    left: -60px
    top: 30px
.l3_main
    z-index: 6
    left: -110px
    top: 70px

.bottom-line
    position: absolute
    bottom: 0
    letter-spacing: .1cm
    word-spacing: .1cm
    text-align: center
    padding: 60px 20px
    font-size: 14px
    width: 100%
    font-family: Raleway
    opacity: .25
    +media-breakpoint-down(md)
        padding-bottom: 20px
    +media-breakpoint-down(sm)
        position: relative
        padding-top: 10px
    strong
        font-weight: bold


.level--2
    transform: translateZ(-80px)

.level--1
    transform: translateZ(-40px)

.level-1
    transform: translateZ(20px)

.level-2
    transform: translateZ(50px)


*
    cursor: none

#cursor, #aura
    position: absolute
    border-radius: 100%
    user-select: none
    pointer-events: none
    z-index: 20000
    transition: .5s cubic-bezier(.75, -1.25, .3, 2.35) transform, .2s cubic-bezier(.75, -1.25, .3, 2.35) opacity
    will-change: transform
    transform: scale(1)
    &.hidden
        transform: scale(.001)

#cursor
    width: 10px
    height: 10px
    background-color: rgba(#fff, .5)
    box-shadow: inset 1px 1px 3px black, inset -1px -1px 3px black, inset -1px 1px 3px black, inset 1px -1px 3px black
    &.active
        opacity: 0
        transform: scale(0)
#aura
    width: 46px
    height: 46px
    border-right: 1px solid rgba(#fff, .2)
    border-left: 1px solid rgba(#fff, .4)
    background-color: rgba(#fff, .025)
    transform: translate(5px, 5px)
    box-shadow: inset 3px 3px 7px grey
    &.hidden
        display: none
    &.active
        border: 1.5px solid rgba(#fff, .6)
        transform: scale(1.5)